<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesome" version="4.7.0" targetFramework="net461" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net461" />
  <package id="Hardcodet.Wpf.TaskbarNotification" version="1.0.5" targetFramework="net461" />
  <package id="Uno.GalaSoft.MvvmLight" version="5.4.0-uno.134" targetFramework="net461" />
</packages>