<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="gRPCServer" type="UrusTools.Config.GRPCConfSection, Urus.Tools"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TerzoChat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TerzoChat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <gRPCServer protocolType="protobuf" host="127.0.0.1" port="10001"></gRPCServer>
  <userSettings>
    <TerzoChat.Properties.Settings>
      <setting name="rpcPort" serializeAs="String">
        <value>10001</value>
      </setting>
    </TerzoChat.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <TerzoChat.Properties.Settings>
      <setting name="rpcHost" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
    </TerzoChat.Properties.Settings>
  </applicationSettings>
</configuration>